* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

/* Helper Classes */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-item-half {
  width: 50%;
}

.flex-item-third {
  height: 400px;
  width: 32%;
  max-width: 500px;
  margin: 5px 10px;
  background-color: pink;
}

@media screen and (max-width: 960px) {
  .flex-item-half {
    width: 70%;
  }

  .flex-item-third {
    width: 90%;
  }
  .flex-item {
    margin: 10px 0;
    width: 90%;
    max-width: 400px;
  }
}

.button {
  font-size: 16pt;
  display: inline-block;
  background: transparent;
  cursor: pointer;
}

.hollow {
  border: 2px solid #fff;
  padding: 10px 20px;
}
