.hero-text {
  background-color: #252934;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(/src/images/monitors.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  flex-direction: column;
}

.hero-text h2 {
  margin: 1rem 0;
}

.hero-btn {
  color: #fff;
}

.hero-btn:hover {
  transition: 0.4s ease-in;
  background-color: #01a1a7;
}
