.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-box {
  height: 100vh;
  width: 36.5%;
  position: fixed;
  background-color: #f7f6f5;
  opacity: 0.08;
  top: 0;
  right: 0;
  z-index: -1;
}
.hero-text {
  color: #ffffff;
  text-align: center;
  flex-direction: column;
}

.hero-text h2 {
  margin: 1rem 0;
}

.hero-btn {
  color: #fff;
}

.hero-btn:hover {
  transition: 0.4s ease-in;
  background-color: #01a1a7;
}
