#nav-bar {
  overflow: hidden;
  color: #ffffff;
  background-color: #1b242f;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#nav-bar li {
  font-size: 1.1em;
  list-style: none;
  display: inline-block;
  padding: 0 1rem;
}

#nav-bar li:hover {
  transition: ease-in 0.2s;
  color: lightcoral;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
